<section [formGroup]="group">

  <!-- Section heading -->
  <div class="mb-4">

    <h2 class="corp-font">
      {{ 'portal.senderIdNew.authorizedRepresentative.title' | translate }}
    </h2>

    <p class="corp-font-light mb-0">
      {{
        'portal.senderIdNew.authorizedRepresentative.description'
          | translate
      }}
    </p>

  </div>


  <!-- Information message -->
  <div
    class="alert alert-info small mb-4"
    role="alert"
  >
    {{
      'portal.senderIdNew.authorizedRepresentative.mandatoryInfo'
        | translate
    }}
  </div>


  <!-- Responsive form grid -->
  <div class="row g-4">


    <!-- First Name -->
    <div
      class="col-12 col-md-6 col-lg-4"
      [class.has-danger]="
        group.get('firstName')?.touched &&
        group.get('firstName')?.invalid
      "
    >

      <label
        for="FirstName"
        class="form-control-label required"
      >
        {{
          'portal.senderIdNew.authorizedRepresentative.firstName'
            | translate
        }}
      </label>

      <input
        id="FirstName"
        type="text"
        class="form-control"
        formControlName="firstName"
        [placeholder]="
          'portal.senderIdNew.authorizedRepresentative.firstNamePlaceholder'
            | translate
        "
        [class.form-control-danger]="
          group.get('firstName')?.touched &&
          group.get('firstName')?.invalid
        "
      />

      @if (
        group.get('firstName')?.touched &&
        group.get('firstName')?.hasError('required')
      ) {
        <div class="form-control-feedback">
          {{ 'validation.firstNameRequired' | translate }}
        </div>
      }

    </div>


    <!-- Last Name -->
    <div
      class="col-12 col-md-6 col-lg-4"
      [class.has-danger]="
        group.get('lastName')?.touched &&
        group.get('lastName')?.invalid
      "
    >

      <label
        for="lastName"
        class="form-control-label required"
      >
        {{
          'portal.senderIdNew.authorizedRepresentative.lastName'
            | translate
        }}
      </label>

      <input
        id="lastName"
        type="text"
        class="form-control"
        formControlName="lastName"
        [placeholder]="
          'portal.senderIdNew.authorizedRepresentative.lastNamePlaceholder'
            | translate
        "
        [class.form-control-danger]="
          group.get('lastName')?.touched &&
          group.get('lastName')?.invalid
        "
      />

      @if (
        group.get('lastName')?.touched &&
        group.get('lastName')?.hasError('required')
      ) {
        <div class="form-control-feedback">
          {{ 'validation.lastNameRequired' | translate }}
        </div>
      }

    </div>


    <!-- Designation -->
    <div
      class="col-12 col-md-6 col-lg-4"
      [class.has-danger]="
        group.get('designation')?.touched &&
        group.get('designation')?.invalid
      "
    >

      <label
        for="designation"
        class="form-control-label required"
      >
        {{
          'portal.senderIdNew.authorizedRepresentative.designation'
            | translate
        }}
      </label>

      <input
        id="designation"
        type="text"
        class="form-control"
        formControlName="designation"
        [placeholder]="
          'portal.senderIdNew.authorizedRepresentative.designationPlaceholder'
            | translate
        "
        [class.form-control-danger]="
          group.get('designation')?.touched &&
          group.get('designation')?.invalid
        "
      />

      @if (
        group.get('designation')?.touched &&
        group.get('designation')?.hasError('required')
      ) {
        <div class="form-control-feedback">
          {{ 'validation.designationRequired' | translate }}
        </div>
      }

    </div>


    <!-- Department -->
    <div
      class="col-12 col-md-6 col-lg-4"
      [class.has-danger]="
        group.get('department')?.touched &&
        group.get('department')?.invalid
      "
    >

      <label
        for="department"
        class="form-control-label required"
      >
        {{
          'portal.senderIdNew.authorizedRepresentative.department'
            | translate
        }}
      </label>

      <input
        id="department"
        type="text"
        class="form-control"
        formControlName="department"
        [placeholder]="
          'portal.senderIdNew.authorizedRepresentative.departmentPlaceholder'
            | translate
        "
        [class.form-control-danger]="
          group.get('department')?.touched &&
          group.get('department')?.invalid
        "
      />

      @if (
        group.get('department')?.touched &&
        group.get('department')?.hasError('required')
      ) {
        <div class="form-control-feedback">
          {{ 'validation.departmentRequired' | translate }}
        </div>
      }

    </div>


    <!-- Official Email -->
    <div
      class="col-12 col-md-6 col-lg-4"
      [class.has-danger]="
        group.get('officialEmail')?.touched &&
        group.get('officialEmail')?.invalid
      "
    >

      <label
        for="officialEmail"
        class="form-control-label required"
      >
        {{
          'portal.senderIdNew.authorizedRepresentative.officialEmail'
            | translate
        }}
      </label>

      <input
        id="officialEmail"
        type="email"
        class="form-control"
        formControlName="officialEmail"
        placeholder="name@company.com"
        autocomplete="email"
        [class.form-control-danger]="
          group.get('officialEmail')?.touched &&
          group.get('officialEmail')?.invalid
        "
      />

      @if (
        group.get('officialEmail')?.touched &&
        group.get('officialEmail')?.hasError('required')
      ) {
        <div class="form-control-feedback">
          {{ 'validation.officialEmailRequired' | translate }}
        </div>
      }

      @if (
        group.get('officialEmail')?.touched &&
        group.get('officialEmail')?.hasError('email')
      ) {
        <div class="form-control-feedback">
          {{ 'validation.officialEmailInvalid' | translate }}
        </div>
      }

    </div>


    <!-- Mobile Number -->
    <div
      class="col-12 col-md-6 col-lg-4"
      [class.has-danger]="
        group.get('mobileNumber')?.touched &&
        group.get('mobileNumber')?.invalid
      "
    >

      <label
        for="mobileNumber"
        class="form-control-label required"
      >
        {{
          'portal.senderIdNew.authorizedRepresentative.mobileNumber'
            | translate
        }}
      </label>

      <input
        id="mobileNumber"
        type="tel"
        class="form-control"
        formControlName="mobileNumber"
        placeholder="+971 50 123 4567"
        autocomplete="tel"
        [class.form-control-danger]="
          group.get('mobileNumber')?.touched &&
          group.get('mobileNumber')?.invalid
        "
      />

      @if (
        group.get('mobileNumber')?.touched &&
        group.get('mobileNumber')?.hasError('required')
      ) {
        <div class="form-control-feedback">
          {{ 'validation.mobileNumberRequired' | translate }}
        </div>
      }

      @if (
        group.get('mobileNumber')?.touched &&
        group.get('mobileNumber')?.hasError('pattern')
      ) {
        <div class="form-control-feedback">
          {{ 'validation.mobileNumberInvalid' | translate }}
        </div>
      }

    </div>


    <!-- Office Number -->
    <div
      class="col-12 col-md-6 col-lg-4"
      [class.has-danger]="
        group.get('officeNumber')?.touched &&
        group.get('officeNumber')?.invalid
      "
    >

      <label
        for="officeNumber"
        class="form-control-label required"
      >
        {{
          'portal.senderIdNew.authorizedRepresentative.officeNumber'
            | translate
        }}
      </label>

      <input
        id="officeNumber"
        type="tel"
        class="form-control"
        formControlName="officeNumber"
        placeholder="+971 4 123 4567"
        [class.form-control-danger]="
          group.get('officeNumber')?.touched &&
          group.get('officeNumber')?.invalid
        "
      />

      @if (
        group.get('officeNumber')?.touched &&
        group.get('officeNumber')?.hasError('required')
      ) {
        <div class="form-control-feedback">
          {{ 'validation.officeNumberRequired' | translate }}
        </div>
      }

      @if (
        group.get('officeNumber')?.touched &&
        group.get('officeNumber')?.hasError('pattern')
      ) {
        <div class="form-control-feedback">
          {{ 'validation.officeNumberInvalid' | translate }}
        </div>
      }

    </div>


    <!-- UAE PASS ID -->
    <div
      class="col-12 col-md-6 col-lg-4"
      [class.has-danger]="
        group.get('uaePassId')?.touched &&
        group.get('uaePassId')?.invalid
      "
    >

      <label
        for="uaePassId"
        class="form-control-label required"
      >
        {{
          'portal.senderIdNew.authorizedRepresentative.uaePassId'
            | translate
        }}
      </label>

      <input
        id="uaePassId"
        type="text"
        class="form-control"
        formControlName="uaePassId"
        [placeholder]="
          'portal.senderIdNew.authorizedRepresentative.uaePassIdPlaceholder'
            | translate
        "
        [class.form-control-danger]="
          group.get('uaePassId')?.touched &&
          group.get('uaePassId')?.invalid
        "
      />

      @if (
        group.get('uaePassId')?.touched &&
        group.get('uaePassId')?.hasError('required')
      ) {
        <div class="form-control-feedback">
          {{ 'validation.uaePassIdRequired' | translate }}
        </div>
      }

    </div>


    <!-- Passport / Emirates ID -->
    <div
      class="col-12 col-md-6 col-lg-4"
      [class.has-danger]="
        group.get('passportOrEmiratesId')?.touched &&
        group.get('passportOrEmiratesId')?.invalid
      "
    >

      <label
        for="passportOrEmiratesId"
        class="form-control-label required"
      >
        {{
          'portal.senderIdNew.authorizedRepresentative.passportOrEmiratesId'
            | translate
        }}
      </label>

      <input
        id="passportOrEmiratesId"
        type="text"
        class="form-control"
        formControlName="passportOrEmiratesId"
        [placeholder]="
          'portal.senderIdNew.authorizedRepresentative.passportOrEmiratesIdPlaceholder'
            | translate
        "
        [class.form-control-danger]="
          group.get('passportOrEmiratesId')?.touched &&
          group.get('passportOrEmiratesId')?.invalid
        "
      />

      @if (
        group.get('passportOrEmiratesId')?.touched &&
        group.get('passportOrEmiratesId')?.hasError('required')
      ) {
        <div class="form-control-feedback">
          {{ 'validation.passportOrEmiratesIdRequired' | translate }}
        </div>
      }

    </div>


    <!-- Address -->
    <div
      class="col-12"
      [class.has-danger]="
        group.get('address')?.touched &&
        group.get('address')?.invalid
      "
    >

      <label
        for="address"
        class="form-control-label required"
      >
        {{
          'portal.senderIdNew.authorizedRepresentative.address'
            | translate
        }}
      </label>

      <textarea
        id="address"
        class="form-control"
        formControlName="address"
        [placeholder]="
          'portal.senderIdNew.authorizedRepresentative.addressPlaceholder'
            | translate
        "
        rows="3"
        [class.form-control-danger]="
          group.get('address')?.touched &&
          group.get('address')?.invalid
        "
      ></textarea>

      @if (
        group.get('address')?.touched &&
        group.get('address')?.hasError('required')
      ) {
        <div class="form-control-feedback">
          {{ 'validation.representativeAddressRequired' | translate }}
        </div>
      }

    </div>

  </div>

</section>