<section [formGroup]="group">

  <!-- Section heading -->
  <div class="mb-4">

    <h2 class="corp-font">
      {{ 'portal.senderIdNew.accountSetup.title' | translate }}
    </h2>

    <p class="corp-font-light mb-0">
      {{ 'portal.senderIdNew.accountSetup.description' | translate }}
    </p>

  </div>


  <!-- Password information -->
  <div
    class="alert alert-info small mb-4"
    role="alert"
  >
    {{ 'portal.senderIdNew.accountSetup.passwordInfo' | translate }}
  </div>


  <!-- Responsive form grid -->
  <div class="row g-4">


    <!-- Username -->
    <div
      class="col-12 col-md-6 col-lg-4"
      [class.has-danger]="isInvalid('Username')"
    >

      <label
        for="Username"
        class="form-control-label required"
      >
        {{ 'portal.senderIdNew.accountSetup.username' | translate }}
      </label>

      <input
        id="Username"
        type="text"
        class="form-control"
        formControlName="Username"
        [placeholder]="
          'portal.senderIdNew.accountSetup.usernamePlaceholder'
            | translate
        "
        autocomplete="username"
        [class.form-control-danger]="isInvalid('Username')"
      />

      <div class="form-text">
        {{ 'portal.senderIdNew.accountSetup.usernameHint' | translate }}
      </div>


      @if (
        group.get('Username')?.touched &&
        group.get('Username')?.hasError('required')
      ) {
        <div class="form-control-feedback">
          {{ 'validation.usernameRequired' | translate }}
        </div>
      }


      @if (
        group.get('Username')?.touched &&
        group.get('Username')?.hasError('minlength')
      ) {
        <div class="form-control-feedback">
          {{ 'validation.usernameMinLength' | translate }}
        </div>
      }


      @if (
        group.get('Username')?.touched &&
        group.get('Username')?.hasError('maxlength')
      ) {
        <div class="form-control-feedback">
          {{ 'validation.usernameMaxLength' | translate }}
        </div>
      }


      @if (
        group.get('Username')?.touched &&
        group.get('Username')?.hasError('pattern')
      ) {
        <div class="form-control-feedback">
          {{ 'validation.usernamePattern' | translate }}
        </div>
      }

    </div>


    <!-- Preferred Language -->
    <div
      class="col-12 col-md-6 col-lg-4"
      [class.has-danger]="isInvalid('PreferredLanguage')"
    >

      <label
        for="PreferredLanguage"
        class="form-control-label required"
      >
        {{ 'portal.senderIdNew.accountSetup.preferredLanguage' | translate }}
      </label>

      <select
        id="PreferredLanguage"
        class="form-control"
        formControlName="PreferredLanguage"
        [class.form-control-danger]="isInvalid('PreferredLanguage')"
      >

        <option
          value=""
          disabled
        >
          {{ 'portal.senderIdNew.accountSetup.selectPreferredLanguage' | translate }}
        </option>

        @for (language of languages; track language.value) {
          <option [value]="language.value">
            {{ language.labelKey | translate }}
          </option>
        }

      </select>


      @if (
        group.get('PreferredLanguage')?.touched &&
        group.get('PreferredLanguage')?.hasError('required')
      ) {
        <div class="form-control-feedback">
          {{ 'validation.preferredLanguageRequired' | translate }}
        </div>
      }

    </div>


    <!-- Time Zone -->
    <div
      class="col-12 col-md-6 col-lg-4"
      [class.has-danger]="isInvalid('TimeZone')"
    >

      <label
        for="TimeZone"
        class="form-control-label required"
      >
        {{ 'portal.senderIdNew.accountSetup.timeZone' | translate }}
      </label>

      <select
        id="TimeZone"
        class="form-control"
        formControlName="TimeZone"
        [class.form-control-danger]="isInvalid('TimeZone')"
      >

        <option
          value=""
          disabled
        >
          {{ 'portal.senderIdNew.accountSetup.selectTimeZone' | translate }}
        </option>

        @for (
          timeZone of timeZones;
          track timeZone.value
        ) {
          <option [value]="timeZone.value">
            {{ timeZone.labelKey | translate }}
          </option>
        }

      </select>


      @if (
        group.get('TimeZone')?.touched &&
        group.get('TimeZone')?.hasError('required')
      ) {
        <div class="form-control-feedback">
          {{ 'validation.timeZoneRequired' | translate }}
        </div>
      }

    </div>


    <!-- MFA Preference -->
    <div
      class="col-12 col-md-6 col-lg-4"
      [class.has-danger]="isInvalid('MfaPreference')"
    >

      <label
        for="MfaPreference"
        class="form-control-label required"
      >
        {{ 'portal.senderIdNew.accountSetup.mfaPreference' | translate }}
      </label>

      <select
        id="MfaPreference"
        class="form-control"
        formControlName="MfaPreference"
        [class.form-control-danger]="isInvalid('MfaPreference')"
      >

        <option
          value=""
          disabled
        >
          {{ 'portal.senderIdNew.accountSetup.selectMfaPreference' | translate }}
        </option>

        @for (
          preference of mfaPreferences;
          track preference.value
        ) {
          <option [value]="preference.value">
            {{ preference.labelKey | translate }}
          </option>
        }

      </select>


      <div class="form-text">
        {{ 'portal.senderIdNew.accountSetup.mfaInfo' | translate }}
      </div>


      @if (
        group.get('MfaPreference')?.touched &&
        group.get('MfaPreference')?.hasError('required')
      ) {
        <div class="form-control-feedback">
          {{ 'validation.mfaPreferenceRequired' | translate }}
        </div>
      }

    </div>


    <!-- Notification Preference -->
    <div
      class="col-12 col-md-6 col-lg-4"
      [class.has-danger]="isInvalid('NotificationPreference')"
    >

      <label
        for="NotificationPreference"
        class="form-control-label required"
      >
        {{ 'portal.senderIdNew.accountSetup.notificationPreference' | translate }}
      </label>

      <select
        id="NotificationPreference"
        class="form-control"
        formControlName="NotificationPreference"
        [class.form-control-danger]="
          isInvalid('NotificationPreference')
        "
      >

        <option
          value=""
          disabled
        >
          {{ 'portal.senderIdNew.accountSetup.selectNotificationPreference' | translate }}
        </option>

        @for (
          preference of notificationPreferences;
          track preference.value
        ) {
          <option [value]="preference.value">
            {{ preference.labelKey | translate }}
          </option>
        }

      </select>


      @if (
        group.get('NotificationPreference')?.touched &&
        group.get('NotificationPreference')?.hasError('required')
      ) {
        <div class="form-control-feedback">
          {{ 'validation.notificationPreferenceRequired' | translate }}
        </div>
      }

    </div>

  </div>

</section>