<section [formGroup]="group">

  <!-- Section heading -->
  <div class="mb-4 mb-md-4">
    <h2 class="corp-font">
  {{
    'portal.senderIdNew.companyRegistration.title'
      | translate
  }}
</h2>

<p class="corp-font-light">
  {{
    'portal.senderIdNew.companyRegistration.description'
      | translate
  }}
</p>

  </div>

  <!-- Responsive form grid -->
  <div class="row g-3 g-md-4">

    <!-- Company Name -->
    <div
  class="col-12 col-md-6 col-lg-4"
  [class.has-danger]="
    group.get('companyName')?.touched &&
    group.get('companyName')?.invalid
  "
>

  <label
    for="companyName"
    class="form-control-label required"
  >
    {{
    'portal.senderIdNew.companyRegistration.companyName'
      | translate
  }}
  </label>

  <input
    id="companyName"
    type="text"
    class="form-control"
    formControlName="companyName"
    [placeholder]="
  'portal.senderIdNew.companyRegistration.companyNamePlaceholder'
    | translate
"
    [class.form-control-danger]="
      group.get('companyName')?.touched &&
      group.get('companyName')?.invalid
    "
  />

  @if (
  group.get('companyName')?.touched &&
  group.get('companyName')?.hasError('required')
) {
  <div class="form-control-feedback">
    {{ 'validation.companyNameRequired' | translate }}
  </div>
}

</div>

    <!-- Legal Entity Name -->
   <div
  class="col-12 col-md-6 col-lg-4"
  [class.has-danger]="
    group.get('legalEntityName')?.touched &&
    group.get('legalEntityName')?.invalid
  "
>
  <label
    for="legalEntityName"
    class="form-control-label required"
  >
   {{
  'portal.senderIdNew.companyRegistration.legalEntityName'
    | translate
}}
  </label>

  <input
    id="legalEntityName"
    type="text"
    class="form-control"
    formControlName="legalEntityName"
    [placeholder]="
  'portal.senderIdNew.companyRegistration.legalEntityNamePlaceholder'
    | translate
"
    [class.form-control-danger]="
      group.get('legalEntityName')?.touched &&
      group.get('legalEntityName')?.invalid
    "
  />

  @if (
    group.get('legalEntityName')?.touched &&
    group.get('legalEntityName')?.hasError('required')
  ) {
    <div class="form-control-feedback">
      {{ 'validation.legalEntityNameRequired' | translate }}
    </div>
  }
</div>

    <!-- Trade License Number -->
    <div
  class="col-12 col-md-6 col-lg-4"
  [class.has-danger]="
    group.get('tradeLicenseNumber')?.touched &&
    group.get('tradeLicenseNumber')?.invalid
  "
>

  <label
    for="tradeLicenseNumber"
    class="form-control-label required"
  >
   {{
  'portal.senderIdNew.companyRegistration.tradeLicenseNumber'
    | translate
}}
  </label>

  <input
    id="tradeLicenseNumber"
    type="text"
    class="form-control"
    formControlName="tradeLicenseNumber"
    [placeholder]="
  'portal.senderIdNew.companyRegistration.tradeLicensePlaceholder'
    | translate
"
    [class.form-control-danger]="
      group.get('tradeLicenseNumber')?.touched &&
      group.get('tradeLicenseNumber')?.invalid
    "
  />

  @if (
    group.get('tradeLicenseNumber')?.touched &&
    group.get('tradeLicenseNumber')?.hasError('required')
  ) {
    <div class="form-control-feedback">
      {{ 'validation.tradeLicenseRequired' | translate }}
    </div>
  }

</div>

    <!-- Registration Number -->
<div
  class="col-12 col-md-6 col-lg-4"
  [class.has-danger]="
    group.get('registrationNumber')?.touched &&
    group.get('registrationNumber')?.invalid
  "
>
  <label
    for="registrationNumber"
    class="form-control-label required"
  >
    {{ 'portal.senderIdNew.companyRegistration.registrationNumber' | translate }}
  </label>

  <input
    id="registrationNumber"
    type="text"
    class="form-control"
    formControlName="registrationNumber"
     [placeholder]="
  'portal.senderIdNew.companyRegistration.registrationNumberPlaceholder'
    | translate
"
    [class.form-control-danger]="
      group.get('registrationNumber')?.touched &&
      group.get('registrationNumber')?.invalid
    "
  />

  @if (
    group.get('registrationNumber')?.touched &&
    group.get('registrationNumber')?.hasError('required')
  ) {
    <div class="form-control-feedback">
     {{ 'validation.registrationNumberRequired' | translate }}
    </div>
  }
</div>


<!-- Tax ID -->
<div
  class="col-12 col-md-6 col-lg-4"
  [class.has-danger]="
    group.get('taxId')?.touched &&
    group.get('taxId')?.invalid
  "
>
  <label
    for="taxId"
    class="form-control-label required"
  >
    {{ 'portal.senderIdNew.companyRegistration.taxId' | translate }}
  </label>

  <input
    id="taxId"
    type="text"
    class="form-control"
    formControlName="taxId"
    [placeholder]="
  'portal.senderIdNew.companyRegistration.taxIdPlaceholder'
    | translate
"
    [class.form-control-danger]="
      group.get('taxId')?.touched &&
      group.get('taxId')?.invalid
    "
  />

  @if (
    group.get('taxId')?.touched &&
    group.get('taxId')?.hasError('required')
  ) {
    <div class="form-control-feedback">
      {{ 'validation.taxIdRequired' | translate }}
    </div>
  }
</div>

    <!-- Company Type -->
   <div
  class="col-12 col-md-6 col-lg-4"
  [class.has-danger]="
    group.get('companyType')?.touched &&
    group.get('companyType')?.invalid
  "
>

  <label
    for="companyType"
    class="form-control-label required"
  >
    {{ 'portal.senderIdNew.companyRegistration.companyType' | translate }}
  </label>

  <select
    id="companyType"
    class="form-control"
    formControlName="companyType"
    [class.form-control-danger]="
      group.get('companyType')?.touched &&
      group.get('companyType')?.invalid
    "
  >

    <option value="" disabled>
      {{'portal.senderIdNew.companyRegistration.selectCompanyType' | translate }}
    </option>

    @for (type of companyTypes; track type) {
      <option [value]="type">
        {{ type }}
      </option>
    }

  </select>


  @if (
    group.get('companyType')?.touched &&
    group.get('companyType')?.hasError('required')
  ) {
    <div class="form-control-feedback">
      {{ 'validation.companyTypeRequired' | translate }}
    </div>
  }

</div>

    
    <!-- Industry -->
<div
  class="col-12 col-md-6 col-lg-4"
  [class.has-danger]="
    group.get('industry')?.touched &&
    group.get('industry')?.invalid
  "
>

  <label
    for="industry"
    class=" form-control-label required"
  >
    {{ 'portal.senderIdNew.companyRegistration.industry' | translate }}
  </label>

  <select
    id="industry"
    class="form-control"
    formControlName="industry"
    [class.form-control-danger]="
      group.get('industry')?.touched &&
      group.get('industry')?.invalid
    "
  >

    <option
      value=""
      disabled
    >
      {{ 'portal.senderIdNew.companyRegistration.selectIndustry' | translate }}
    </option>

    @for (industry of industries; track industry) {
      <option [value]="industry">
        {{ industry }}
      </option>
    }

  </select>


  @if (
    group.get('industry')?.touched &&
    group.get('industry')?.hasError('required')
  ) {

    <div class="form-control-feedback">
      {{ 'validation.industryRequired' | translate }}
    </div>

  }

</div>

    <!-- Date of Incorporation -->
    <div
  class="col-12 col-md-6 col-lg-4"
  [class.has-danger]="
    group.get('dateOfIncorporation')?.touched &&
    group.get('dateOfIncorporation')?.invalid
  "
>

  <label
    for="dateOfIncorporation"
    class="form-control-label required"
  >
    {{ 'portal.senderIdNew.companyRegistration.dateOfIncorporation' | translate }}
  </label>

  <input
    id="dateOfIncorporation"
    type="date"
    class="form-control date-picker" 
    formControlName="dateOfIncorporation"
    [class.form-control-danger]="
      group.get('dateOfIncorporation')?.touched &&
      group.get('dateOfIncorporation')?.invalid
    "
  />

  @if (
    group.get('dateOfIncorporation')?.touched &&
    group.get('dateOfIncorporation')?.hasError('required')
  ) {
    <div class="form-control-feedback">
      {{ 'validation.dateOfIncorporationRequired' | translate }}
    </div>
  }

</div>

    <!-- Country -->
<div class="col-12 col-md-6 col-lg-4">

  <label
    for="country"
    class="form-control-label required"
  >
    {{ 'portal.senderIdNew.companyRegistration.country' | translate }}
  </label>

  <input
    id="country"
    type="text"
    class="form-control"
    formControlName="country"
    readonly
  />

</div>

    <!-- Registered Address -->
  <div
  class="col-12"
  [class.has-danger]="
    group.get('registeredAddress')?.touched &&
    group.get('registeredAddress')?.invalid
  "
>
  <label
    for="registeredAddress"
    class="form-control-label required"
  >
    {{ 'portal.senderIdNew.companyRegistration.registeredAddress' | translate }}
  </label>

  <textarea
    id="registeredAddress"
    class="form-control"
    [class.form-control-danger]="
      group.get('registeredAddress')?.touched &&
      group.get('registeredAddress')?.invalid
    "
    formControlName="registeredAddress"
     [placeholder]="
  'portal.senderIdNew.companyRegistration.registeredAddressPlaceholder'
    | translate
"
    rows="3"
  ></textarea>

  @if (
    group.get('registeredAddress')?.touched &&
    group.get('registeredAddress')?.hasError('required')
  ) {
    <div class="form-control-feedback">
      {{ 'validation.registeredAddressRequired' | translate }}
    </div>
  }
</div>

    <!-- Emirate -->
    <div
  class="col-12 col-md-6 col-lg-4"
  [class.has-danger]="
    group.get('emirateState')?.touched &&
    group.get('emirateState')?.invalid
  "
>

  <label
    for="emirateState"
    class="form-control-label required"
  >
   {{ 'portal.senderIdNew.companyRegistration.emirateState' | translate }}
  </label>

  <select
    id="emirateState"
    class="form-control"
    formControlName="emirateState"
    [class.form-control-danger]="
      group.get('emirateState')?.touched &&
      group.get('emirateState')?.invalid
    "
  >

    <option value="" disabled>
      {{ 'portal.senderIdNew.companyRegistration.selectEmirate' | translate }}
    </option>

    @for (emirate of emirates; track emirate) {
      <option [value]="emirate">
        {{ emirate }}
      </option>
    }

  </select>


  @if (
    group.get('emirateState')?.touched &&
    group.get('emirateState')?.hasError('required')
  ) {
    <div class="form-control-feedback">
      {{'validation.emirateRequired' | translate }}
    </div>
  }

</div>

    <!-- City -->
    <div
  class="col-12 col-md-6 col-lg-4"
  [class.has-danger]="
    group.get('city')?.touched &&
    group.get('city')?.invalid
  "
>

  <label
    for="city"
    class="form-control-label required"
  >
    {{ 'portal.senderIdNew.companyRegistration.city' | translate }}
  </label>


  <input
    id="city"
    type="text"
    class="form-control"
    formControlName="city"
     [placeholder]="
  'portal.senderIdNew.companyRegistration.cityPlaceholder'
    | translate
"
    [class.form-control-danger]="
      group.get('city')?.touched &&
      group.get('city')?.invalid
    "
  />


  @if (
    group.get('city')?.touched &&
    group.get('city')?.hasError('required')
  ) {
    <div class="form-control-feedback">
      {{ 'validation.cityRequired' | translate }}
    </div>
  }

</div>

  
   <!-- Postal Code -->
<div
  class="col-12 col-md-6 col-lg-4"
  [class.has-danger]="
    group.get('postalCode')?.touched &&
    group.get('postalCode')?.invalid
  "
>
  <label
    for="postalCode"
    class="form-control-label required"
  >
    {{ 'portal.senderIdNew.companyRegistration.postalCode' | translate }}
  </label>

  <input
    id="postalCode"
    type="text"
    class="form-control"
    formControlName="postalCode"
     [placeholder]="
  'portal.senderIdNew.companyRegistration.postalCodePlaceholder'
    | translate
"
    [class.form-control-danger]="
      group.get('postalCode')?.touched &&
      group.get('postalCode')?.invalid
    "
  />

  @if (
    group.get('postalCode')?.touched &&
    group.get('postalCode')?.hasError('required')
  ) {
    <div class="form-control-feedback">
      {{ 'validation.postalCodeRequired' | translate }}
    </div>
  }
</div>


<!-- Website -->
<div class="col-12 col-md-6 col-lg-4">

  <label
    for="website"
    class="form-control-label fw-bold"
  >
    {{ 'portal.senderIdNew.companyRegistration.website' | translate }}
  </label>

  <input
    id="website"
    type="url"
    class="form-control"
    formControlName="website"
    placeholder="https://www.company.com"
  />

  <small class="form-text text-muted">
    {{ 'portal.senderIdNew.companyRegistration.optional' | translate }}
  </small>

</div>


<!-- Company Email -->
<div
  class="col-12 col-md-6 col-lg-4"
  [class.has-danger]="
    group.get('companyEmail')?.touched &&
    group.get('companyEmail')?.invalid
  "
>
  <label
    for="companyEmail"
    class="form-control-label required"
  >
    {{ 'portal.senderIdNew.companyRegistration.companyEmail' | translate }}
  </label>

  <input
    id="companyEmail"
    type="email"
    class="form-control"
    formControlName="companyEmail"
    placeholder="name@company.com"
    [class.form-control-danger]="
      group.get('companyEmail')?.touched &&
      group.get('companyEmail')?.invalid
    "
  />

  @if (
    group.get('companyEmail')?.touched &&
    group.get('companyEmail')?.hasError('required')
  ) {
    <div class="form-control-feedback">
      {{ 'validation.companyEmailRequired' | translate }}
    </div>
  }

  @if (
    group.get('companyEmail')?.touched &&
    group.get('companyEmail')?.hasError('email')
  ) {
    <div class="form-control-feedback">
      {{ 'validation.companyEmailInvalid' | translate }}
    </div>
  }
</div>


<!-- Company Phone -->
<div
  class="col-12 col-md-6 col-lg-4"
  [class.has-danger]="
    group.get('companyPhone')?.touched &&
    group.get('companyPhone')?.invalid
  "
>
  <label
    for="companyPhone"
    class="form-control-label required"
  >
    {{ 'portal.senderIdNew.companyRegistration.companyPhone' | translate }}
  </label>

  <input
    id="companyPhone"
    type="tel"
    class="form-control"
    formControlName="companyPhone"
    placeholder="+971 50 123 4567"
    [class.form-control-danger]="
      group.get('companyPhone')?.touched &&
      group.get('companyPhone')?.invalid
    "
  />

  @if (
    group.get('companyPhone')?.touched &&
    group.get('companyPhone')?.hasError('required')
  ) {
    <div class="form-control-feedback">
      {{ 'validation.companyPhoneRequired' | translate }}
    </div>
  }

  @if (
    group.get('companyPhone')?.touched &&
    group.get('companyPhone')?.hasError('pattern')
  ) {
    <div class="form-control-feedback">
      {{ 'validation.companyPhoneInvalid' | translate }}
    </div>
  }
</div>


<!-- Proposed Sender ID -->
<div
  class="col-12 col-md-6 col-lg-4"
  [class.has-danger]="
    group.get('proposedSenderId')?.touched &&
    group.get('proposedSenderId')?.invalid
  "
>
  <label
    for="proposedSenderId"
    class="form-control-label required"
  >
    {{ 'portal.senderIdNew.companyRegistration.proposedSenderId' | translate }}
  </label>

  <input
    id="proposedSenderId"
    type="text"
    class="form-control"
    formControlName="proposedSenderId"
     [placeholder]="
  'portal.senderIdNew.companyRegistration.proposedSenderIdPlaceholder'
    | translate
"
    [class.form-control-danger]="
      group.get('proposedSenderId')?.touched &&
      group.get('proposedSenderId')?.invalid
    "
  />

  @if (
    group.get('proposedSenderId')?.touched &&
    group.get('proposedSenderId')?.invalid
  ) {
    <div class="form-control-feedback">
      {{ 'validation.proposedSenderIdRequired' | translate }}
    </div>
  }
</div>
  </div>
</section>